{% extends 'base.html.twig' %}

{% block body %}


<div class="example-wrapper">
    <h1>{{ page_name }}</h1><br />
    <table class='t1'>
        <thead>
            <tr>
                <th colspan="5">Liste des Types d'opération</th>
            </tr>
            <tr>
                <th colspan="1">Libelle</th>
                <th colspan="1">Récurrence</th>
                <th colspan="1">Entrée/Sortie</th>
                <th colspan="2">Action <a href="{{ path('type_edit') }}" class="btn btn-primary btn-sm" style="display: inline-block">Create</a></th>
            </tr>
        </thead>
        <tbody>
            {% for type in types %}
                <tr>
                    <td>{{ type.libelle}}</td>
                    <td>{{type.recurrence}}</td>
                    <td>{% if type.sortie == true %}Sortie 🟥 {% else %} Entrée 🟩 {% endif %}</td>
                    <td><a href="{{ path('type_edit', {'id':type.id}) }}" class="btn btn-secondary btn-sm" style="display: inline-block">edit</a></td>
                    <td>
                        <form method="post" action="{{ path('type_delete', {'id':type.id}) }}" style="display: inline-block">
                            <input type="hidden" name="_method" value="delete">
                            <button class="btn btn-danger btn-sm">Delete</button> 
                        </form>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>

</div>
{% endblock %}
