{% extends 'base.html.twig' %}

{% block body %}


<div class="example-wrapper">
    <h1>{{ page_name }}</h1><br />
    
    <table class='t1'>
        <thead>
            <tr>
                <th colspan="7">Liste des opérations</th>
            </tr>
            <tr>
                <th colspan="1">montant</th>
                <th colspan="1">date</th>
                <th colspan="1">detail</th>
                <th colspan="1">libelle</th>
                <th colspan="1">Récurrence</th>
                <th colspan="2">Actions <a href="{{ path('operation_edit') }}" class="btn btn-primary btn-sm" style="display: inline-block">Create</a></th>

            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
                <tr>
                    <td>{{ operation.montant}}{{ 'EUR'|currency_symbol }}{% if operation.sortie == true %} 🟥 {% else %} 🟩 {% endif %}</td>
                    <td>{{operation.dateOperation|date("d/m/Y")}}</td>
                    <td>{{ operation.detail }}</td>
                    <td>{{ operation.libelle }}</td>
                    <td>{{ operation.recurrence }}</td>
                    <td><a href="{{ path('operation_edit', {'id':operation.id}) }}" class="btn btn-secondary" style="display: inline-block btn-sm">edit</a></td>
                    <td>
                        <form method="post" action="{{ path('operation_delete', {'id':operation.id}) }}" style="display: inline-block">
                            <input type="hidden" name="_method" value="delete">
                            <button class="btn btn-danger btn-sm">Delete</button> 
                        </form>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}
