{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ page_name }}</h1>
    <a href="{{ path('operation_edit') }}">Create</a>
    <table class='t1'>
        <thead>
            <tr>
                <th colspan="6">Liste des opérations</th>
            </tr>
            <tr>
                <th colspan="1">montant</th>
                <th colspan="1">date</th>
                <th colspan="1">detail</th>
                <th colspan="1">Action</th>
                <th colspan="1">libelle</th>
                <th colspan="1">Récurrence</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
                <tr>
                    <td>{{ operation.montant}}{% if operation.sortie == true %} 🟥 {% else %} 🟩 {% endif %}</td>
                    <td>{{operation.dateOperation|date("d/m/Y")}}</td>
                    <td>{{ operation.detail }}</td>
                    <td>{{ operation.libelle }}</td>
                    <td>{{ operation.recurrence }}</td>
                    <td><a href="{{ path('operation_edit', {'id':operation.id}) }}">edit</a> / <a href="{{ path('operation_delete', {'id':operation.id}) }}">delete</a></td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}
