{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1> {{ page_name }}</h1><br />
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ path('app_historique', {'annee':annee-1}) }}" type="button" class="btn btn-info btn-sm">⬅️ {{annee-1}}</a>
        <button type="button" class="btn btn-light btn-sm active">{{annee}}</button>
        <a href="{{ path('app_historique', {'annee':annee+1}) }}" type="button" class="btn btn-info btn-sm">{{annee+1}} ➡️</a>
    </div>
    
    {{ render_chart(chart) }}
    <br />
    <table class='t1'>
        <thead>
            <tr>
                <th colspan="4">Liste des données</th>
            </tr>
            <tr>
                <th colspan="1">montant</th>
                <th colspan="1">date</th>
                <th colspan="2">actions <a href="{{ path('historique_edit') }}" class="btn btn-primary btn-sm" style="display: inline-block">Create</th>
            </tr>
        </thead>
        <tbody>
            {% for historique in historiques %}
                <tr>
                    <td>{{historique.montant}}{{ 'EUR'|currency_symbol }}</td>
                    <td>{{historique.periode|date("d/m/Y")}}</td>

                    <td><a href="{{ path('historique_edit', {'id':historique.id}) }}" class="btn btn-secondary btn-sm" style="display: inline-block">edit</a></td>
                    <td>
                        <form method="post" action="{{ path('historique_delete', {'id':historique.id}) }}" style="display: inline-block">
                            <input type="hidden" name="_method" value="delete">
                            <button class="btn btn-danger btn-sm">Delete</button> 
                        </form>
                    </td></td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}
