{% block navbar %}
{% set url = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}">Home |</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class={% if '/historique' in url %}"nav-link active" aria-current="page"{% else %}"nav-link"{% endif %} href="{{ path('app_historique') }}">Historique |</a>
        </li>
        <li class="nav-item">
          <a class={% if '/operation' in url %}"nav-link active" aria-current="page"{% else %}"nav-link"{% endif %} href="{{ path('app_operation') }}">Operation |</a>
        </li>
        <li class="nav-item">
          <a class={% if '/type' in url %}"nav-link active" aria-current="page"{% else %}"nav-link"{% endif %} href="{{ path('app_type_operation') }}">Type Operation |</a>
        </li>
        <li class="nav-item">
          <a class={% if '/banque' in url %}"nav-link active" aria-current="page"{% else %}"nav-link"{% endif %} href="{{ path('app_banque') }}">Compte |</a>
        </li> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ajouter
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('historique_edit') }}">Historique</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('operation_edit') }}">Operation</a></li>
            <li><a class="dropdown-item" href="{{ path('type_edit') }}">type Opération</a></li>
          </ul>
        </li>
        {#
        {{ path('_files_manage', {project: project.id, user: user.id}) }}
        {{ path('article_show', { 'slug': article.slug }) }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>#}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}